* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #dedde226;
  backdrop-filter: blur(30px);
}

:root {
  --gradient: linear-gradient(
    90deg,
    #01313a,
    #125266,
    #266d81,
    #3c7d91,
    #5e9fb1,
    #90c0c9
  );
}

body {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

img {
  position: fixed;
  bottom: -80px;
  left: 0;
  height: 350px;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: black 900;
  color: #ffffff;
}

h2,
h3,
h4 {
  font-size: 18px;
  color: #ffffff;
  font-family: "Biryani", sans-serif;
}

p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Shanti", sans-serif;
}

.home-front-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-front-flex h1 {
  font-size: 40px;
  align-items: center;
  margin: 90px 40px 30px 0;
  text-shadow: 3px 3px rgb(31, 30, 30);
}

/*.box-first-paget {
  position: fixed;
  bottom: 40px;
  right: 20px;
  border-radius: 50%;
  height: 200px;
  width: 155px;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
}*/
