* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #266d81;
  /* backdrop-filter: blur(30px); */
}

:root {
  --gradient: linear-gradient(
    90deg,
    #01313a,
    #125266,
    #266d81,
    #3c7d91,
    #5e9fb1,
    #90c0c9
  );
}

body {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: black 900;
  color: #ffffff;
  padding: 8px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #e9e3e3;
  font-family: "Biryani", sans-serif;
  margin: 16px;
  text-shadow: 1px 1px black;
}

p,
li,
a {
  font-size: 16px;
  color: #ffffff;
  font-family: "Shanti", sans-serif;
  margin: 16px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  overflow: hidden;
  z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.logo img {
  height: 50px;
  padding: 0 16px;
}

nav li {
  list-style: none;
  padding: 0;
  margin: 8px;
}

nav li a {
  font-size: 15px;
  padding: 4px;
  font-weight: 600;
  margin: 0;
  text-shadow: 2px 2px black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
}
.container {
  max-width: 987px;
  margin: 0 auto;
}

.home-front-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-front-flex p,
.home-front-flex h1 {
  text-align: center;
}

.home-front-flex h1 {
  font-size: 40px;
  margin: 90px auto 0;
  text-shadow: 3px 3px rgb(31, 30, 30);
}

.box-first-page {
  position: relative;
  bottom: 0;
  left: 0%;
  height: 300px;
  width: 70%;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  border: 1px solid #01313a;
  border-radius: 50%;
  /* transform: translateX(-50%); */
  margin-bottom: 200px;
}

.first-box-img {
  background-image: url(/img/lisagrant-removebg-preview.png);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

@media screen and (min-width: 470px) {
  .box-first-page {
    height: 400px;
  }

  .first-box-img {
    height: 400px;
  }
}

@media screen and (min-width: 550px) {
  .box-first-page {
    height: 500px;
    max-width: 400px;
  }

  .first-box-img {
    height: 500px;
    max-width: 400px;
  }
  .home-front-flex h1 {
    font-size: 80px;
  }
}
