* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #266d81;
}

:root {
  --gradient: linear-gradient(
    90deg,
    #01313a,
    #125266,
    #266d81,
    #3c7d91,
    #5e9fb1,
    #90c0c9
  );
}

body {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: black 900;
  color: #ffffff;
  padding: 8px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #e9e3e3;
  font-family: "Biryani", sans-serif;
  margin: 16px;
  text-shadow: 1px 1px black;
}

h3 {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px black;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  margin: 8px 16px;
  text-align: center;
}

p,
li,
a {
  font-size: 16px;
  color: #ffffff;
  font-family: "Shanti", sans-serif;
  margin: 16px;
}

a {
  cursor: pointer;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff26;
  backdrop-filter: blur(60px);
  overflow: hidden;
  z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.logo img {
  height: 50px;
  padding: 0 16px;
}

nav li {
  list-style: none;
  padding: 0;
  margin: 8px;
}

nav li a {
  font-size: 15px;
  padding: 4px;
  font-weight: 600;
  margin: 0;
  text-shadow: 2px 2px black;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
}
.container {
  max-width: 987px;
  margin: 0 auto;
}

.about-me,
.my-work,
.contact-me {
  margin-top: 200px;
}

.contact-me {
  margin-bottom: 100px;
}

.home-front-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-front-flex p,
.home-front-flex h1 {
  text-align: center;
}

.home-front-flex h1 {
  font-size: 40px;
  margin: 90px auto 0;
  text-shadow: 3px 3px rgb(31, 30, 30);
}

.box-first-page,
.good-day-img-box {
  position: relative;
  bottom: 0;
  left: 0%;
  height: 300px;
  width: 70%;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  border: 1px solid #01313a;
  border-radius: 50%;
  /* transform: translateX(-50%); */
  margin-bottom: 200px;
}

.first-box-img {
  background-image: url(/img/lisagrant-removebg-preview.png);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16;
}

.card {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  margin: 20px auto;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.card-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  margin: 8px;
  border-radius: 5px;
  transition: ease-in-out 600ms;
}

.card-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: translateY(2px) translateX(1px) scale(1.03);
}

.img-1 {
  background-image: url(/img/rainydays.jpg);
}

.img-2 {
  background-image: url(/img/cms.jpg);
}

.img-3 {
  background-image: url(/img/mia-and-bob.jpg);
}

.card h3 {
  margin-bottom: 0;
}

.card p {
  font-size: 12px;
  margin: 4px 16px;
}

.card a {
  font-size: 15;
  text-decoration: none;
}

.card-links {
  display: flex;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 1px;
  font-weight: bold;
}

.good-day-img-box {
  position: relative;
  bottom: 0;
  left: 0%;
  height: 400px;
  width: 70%;
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  border: 1px solid #01313a;
  border-radius: 10%;
  margin-bottom: 50px;
  max-width: 300px;
}

.good-day-img {
  background-image: url(/img/me-removebg-preview.png);
  height: 400px;
  max-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 10%;
  border-radius: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #266d81;
  height: 100px;
}

@media screen and (min-width: 470px) {
  .box-first-page {
    height: 400px;
  }

  .first-box-img {
    height: 400px;
  }

  .slideshow {
    height: 250px;
  }

  .about-me-img-box {
    height: 250px;
  }
}

@media screen and (min-width: 550px) {
  .box-first-page {
    height: 500px;
    max-width: 400px;
  }

  .first-box-img {
    height: 500px;
    max-width: 400px;
  }
  .home-front-flex h1 {
    font-size: 80px;
  }
  .slideshow {
    height: 300px;
  }

  .about-me-img-box {
    height: 300px;
  }
}

@media screen and (min-width: 800px) {
  .about-me {
    flex-direction: row;
  }
  .slideshow {
    height: 450px;
  }
  .about-me-img-box {
    height: 450px;
  }

  .flower-1,
  .flower-2,
  .flower-3 {
    background-position: 90% 10%;
  }
}

@media screen and (min-width: 1200px) {
  .slideshow {
    height: 450px;
  }
  .about-me-img-box {
    height: 450px;
  }
}
